body {
  width: 100%;
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h2 {
  font-family: 'Open Sans', sans-serif;
}
#container{
  max-width: 960px;
  margin: 0 auto; 
  padding: 50px;
}
#container img {
  border-radius: 2px;
}
#container header {
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;

}
nav {
  width: 100%;
}

nav ul {
  list-style: none;
  overflow: hidden; 
  margin:0px;
  padding:0px;

}

nav ul li {
  float: left;
  width: 50%; 
  text-decoration: none;

}

nav ul li a {
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 100%;
}

nav ul li a,
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active {

text-decoration: none; 
}

nav ul li a:hover,
nav ul li a:active {
opacity: 0.8;
}

#content{
 padding-bottom:20px;

}
/* nav menu*/
#navmenu{ 
  background: #292c2f;
  width: auto;
}  
#navmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
  text-align: right;
  padding-right: 13%;
}
#navmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;

}
#navmenu.align-right ul li {
  float: right;
}
#navmenu.align-center ul {
  text-align: center;
}
#navmenu ul li a {
  color: #d0d0d0;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navmenu ul li a:hover {
  color: #ffffff;
}
#navmenu ul li a:hover:before {
  width: 100%;
}
#navmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #aaa;
  opacity: .5;
}
#navmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navmenu ul li.last > a:after,
#navmenu ul li:last-child > a:after {
  display: none;
}
#navmenu ul li.active a {
  /*color: #F39200;*/
}
#navmenu ul li.active a:before {
  width: 100%;
}
#navmenu.align-right li.last > a:after,
#navmenu.align-right li:last-child > a:after {
  display: block;
}
#navmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #navmenu ul li {
    float: none;
    display: block;
  }
  #navmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #navmenu ul li.last > a,
  #navmenu ul li:last-child > a {
    border: 0;
  }
  #navmenu ul li a:after {
    display: none;
  }
  #navmenu ul li a:before {
    display: none;
  }
}

#banner {
    background: url("img/overlay.png"), url("img/bannerbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 16em 0em 14em;
    text-align: center;
  }
  #banner h2 {
      color: #ffffff;
      font-size: 3em;
      line-height: 1em;
      margin: 0 0 0.5em 0;
      padding: 0;
    }

    #banner p {
      font-size: 1.5em;
      margin: 1.5em 0 0 0;
    }

    #banner .actions {
      margin: 3em 0 0 0;
    }
    #banner .button {
      background-color: transparent;
      border: 1px solid #ffffff;
      font-weight: 300;
      width: 200px;
    }

      #banner .button:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

.button {
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.85em;
  line-height: 2.8em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
#banner .actions {
  margin: 3em 0 0 0;
}
.button.big {
  font-size: 1.35em;
}

/*footer*/

.footer{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
}

.footer .content{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer .copy{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}
/*4444*/

.wrapper {
  overflow: hidden; 
  width: 600px;
  margin: 0 auto;
}
.featuresColumn {
  float: right;
  width: 22%; 
  margin-right: 4%;
  height:250px;
}
.last {
  margin-right: 0;
}
/*feat*/
#feat  {
  margin: 0;
  padding: 0;
}
 

 
#feat {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
 
#feat ul {
  list-style-type: none;
}
 
#feat li img {
  float: left;
  margin: 10px;
  border: 5px solid #fff;
  width: 300px;
  height: 200px;
 
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
 
#feat li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

#feat h3{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
 }

#first {
  text-align: left;
  clear: both;
}
.figure p{
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin:5px 20px;
}
.figure {
 float: right;
  width: 30%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  padding: 0 auto;

}
.action, #seemore {
  padding: 0 auto;
  text-align: center; 
  background-color: ;
  text-decoration: none

}
 ul {
  list-style-type: none;
}
#seemore {
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 0 2em;
  white-space: nowrap;
  padding: 0 2em;
  width: 200px;
}
#seemore li {
  padding: 0 auto;
}
/*sadasasdasd*/
.button-wrapper {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.button {
  border: none;
  border-radius: 1;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: inline-block;
  font-size: 1em;
  padding: 0em 2em;
  width: auto;
  background-color: #d3d3d3;
}

.cta-button {
  background-color: #lightgrey;
  color: #000000 !important;
  width: 150px;
}

.cta-button:hover {
  background-color: #ffffff;
}

#mapsbanner {
    background-color: #D8D8D8 ;);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 100%;
    overflow: hidden; 
    margin: 0 auto;
    height: 450px;
    bo
  }
#buttonwrapper {
  overflow: hidden; 
  margin: 0;
  width: 36%;
  height: 450px;

}
#buttonwrapper ul {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 450px;


}

#buttonwrapper img {
float: left;
width:20%;
height:100%
}

#buttonwrapper li {
padding-top: 10px;
}

#buttonwrapper  h2 {
padding-top: 6%;
margin: 0 auto;
}
#buttonwrapper  h3 {
margin: 0 auto;

}

#map {
  width: 64%; 
  height: 450px;
  float: left;

}
.mapbutton {
  background-color:#C0C0C0  ;
  width: 100%;
  height: 90px;
  text-shadow:none !important;
  border:none !important;
  box-shadow:none !important;
}
.mapbutton:hover {
  opacity: 0.7;
}